:root {
  --border-width-em: calc(1em / 12);
  --day-height-em: 2em;
  --day-with-border-height-em: calc(
    var(--day-height-em) + var(--border-width-em)
  );
  --month-name-height-em: var(--day-height-em);

  --print-margin: 10mm;
  --max-row-count: 37; /* 31 days + max 6 empty days */
  --a4-portrait-height: 297mm;
  --max-month-height-em: calc(
    var(--month-name-height-em) + var(--max-row-count) *
      var(--day-with-border-height-em)
  );
  --max-month-height-unitless: calc(var(--max-month-height-em) / 1em);
  --content-height-in-units: calc(
    var(--a4-portrait-height) - var(--print-margin) * 2
  );
  --font-size-in-mm: calc(
    var(--content-height-in-units) / var(--max-month-height-unitless)
  );
}

html {
  font-size: 12px;
}

body {
  margin: 1em;
  font-family: "arial narrow", "helvetica narrow", sans-serif;
  line-height: 1.8;
  color: #999;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: start;
  column-gap: 1em;
  row-gap: 2em;
}

.month__name {
  height: var(--month-name-height-em);
  font-weight: bold;
}

.day {
  border-bottom: var(--border-width-em) solid #ccc;
}

.vr,
.zo {
  border-color: #999;
}

.za,
.zo {
  color: #666;
}

.day__name,
.day__nr {
  width: 1.5em;
}

.day td {
  height: var(--day-height-em);
}

.clone-src {
  display: none;
}

@media print {
  @page {
    size: A4 portrait;
    margin: var(--print-margin);
  }

  html {
    font-size: var(--font-size-in-mm);
  }

  body {
    margin: 0;
  }

  .calendar {
    grid-template-columns: repeat(3, auto);
    row-gap: 0;
  }

  .month:nth-child(4),
  .month:nth-child(7),
  .month:nth-child(10) {
    break-before: page;
  }
}
